header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 0;
}

.nav {
  ul {
    display: flex;

    li {
      margin-left: 10px;

      a {
        color: #000;

        &:hover {
          color: blue;
        }
      }
    }
  }
}
